@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
  --background-color: #096B68;
  --primary-color: #129990;
  --secondary-color: #00ffc4;
  --text-color: #FFFBDE;

  --small-size:375px;
  --medium-size:775px;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
color: var(--secondary-color);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: 'Source Code Pro', monospace;
}

h3 {
  font-size: 2rem;
  line-height: 1.1;
  color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
  height: 10rem;
  width: 10rem;
}